<%= provide(:title, 'About') %>

<h1>About</h1>
<p>
This web application is the product of an independent study by Zach
Roth, a computer science student at Vanderbilt University. The project
was supervised by Professor Yi Cui. The intention of this project is to
provide a database of things to do in Nashville to help students at 
Vanderbilt maximize their experience in Nashville as well as get outside
of the "Vandy Bubble." This project was inspired by Senior Director of
Residential Education Randy Tarkington.
</p>
<p>
Questions about the project can be directed to Zach at 
zachary.a.roth@vanderbilt.edu.
</p>
<p>
Questions about the content herein should be directed to
  <a href="http://www.vanderbilt.edu/ResEd/main/ohare/contact-us/">Residential
  Education</a>.
</p>
