<li>
	  <% if (signed_in? || event.approved) %>
		<%= link_to event.name, event %>
		<% if signed_in? %>
		  <% if !event.approved %>
			| <%= link_to "approve", approve_path(event),
					data: { confirm: "You sure?" } %>
		  <% end %>
		  | <%= link_to "delete", event, method: :delete,
				data: { confirm: "You sure?" } %>
		<% end %>
	  <% end %>
</li>

