<% provide(:title, 'All events') %>
<h1> All Events </h1>

<%= will_paginate %>
<% if @events.count != 0 %>
<table class = "container">
  <%= render 'events/table_header_row' %> 
  <% @events.each do |event| %>
	<%= render event, event: event %>
  <% end %>
</table>
<p>
  <% else %>
	No events in the database right now.
  <% end %>
</p>

<%= will_paginate %>
