<% provide(:title, 'All events') %>
<h1> All Events </h1>

<%= will_paginate %>

<ul class="events">
  <% @events.each do |event| %>
	<%= render event, event: event %>
  <% end %>
</ul>

<%= will_paginate %>
