<% provide(:title, 'Submit New Event') %>
<% btn_text = String.new %>
<% header_text = String.new %>
<% if signed_in? %>
  <% btn_text = "Create event" %>
  <% header_text = "New Event Submission" %>
<% else %>
  <% btn_text = "Submit event suggestion" %>
  <% header_text = "New Event Suggestion" %>
<% end %>
<h1><%=header_text%></h1>
<h2>
  At minimum, please provide the name, location, and a short description.
</h2>
<div class="row">
  <div class="span6 offset3">
	<%= form_for(@event) do |f| %>
	  <%=render 'event_form', f: f %>
	  <%= f.submit "#{btn_text}", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>
