<% provide(:title, 'Search results') %>
<h1> Search Results </h1>

<%= will_paginate %>

<table class="container">
  <%= render 'events/table_header_row' %>
  <% @events.each do |event| %>
	<%= render event, event: event %>
  <% end %>
</table>
<p>
<% if @events.count == 0 %>
	No events matched your search term
<% end %>
</p>

<%= will_paginate %>
