<% provide(:title, 'Search results') %>
<h1> Search Results </h1>

<%= will_paginate %>
<% if @event.count != 0 %>
<table class="container">
  <%= render 'events/table_header_row' %>
  <% @events.each do |event| %>
	<%= render event, event: event %>
  <% end %>
</table>
<p>
<% else %>
	No events matched your search term
<% end %>
</p>

<%= will_paginate %>
