<footer class="footer">
  <small>
	<%= link_to "Suggestions for Events to Add?", submitnewevent_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
	  <li><a href="http://www.vanderbilt.edu/ResEd/main/ohare/contact-us/">
		Contact</a></li>
	  <li>
		<% if signed_in? %>
		  <%= link_to "Sign out", signout_path %>
		<% else %>
		  <%= link_to "Admin", admin_path %>
		<% end %>
	  </li> 
    </ul>
  </nav>
</footer>
